.sidebar-section{
    flex: 3;
    margin: 20px;
    padding-bottom: 32px;
    background-color: #dcf0fa;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-subsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.sidebar-title{
    text-transform: uppercase;
    margin: 12px;
    padding: 6px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    font-family: 'Raleway', sans-serif;
    line-height: 22px;
    font-weight: 600;
}

.sidebar-img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.sidebar-subsection > p{
    padding: 28px;
    text-align: center;
}

.sidebar-categories{
    list-style: none;
    margin-bottom: 25px;
}

.sidebar-category{
    display: inline-block;
    width: 50%;
    margin-top: 12px;
    text-align: center;
    cursor: pointer;
}

.sidebar-social-icons{
    margin-top: 12px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-social-icon{
    margin-right: 10px;
    cursor: pointer;
    font-size: 32px;
    color: var(--primary-color);
}